body{
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.box1{
  width: 380px;
  background: blanchedalmond;
  border: 1px solid black;
  border-radius: 18px;
  padding: 40px;
  box-shadow: 0 20 40 rgba(0,0,0,.06);
}
.logo{
  text-align: center;
  margin-bottom: 35px;
  
}

.logo h1{
  font-size: 34px;
  color: #111827;
  
}
.logo p{
  color: #6b7289;
  margin-top: 8px;
  font-size: 15px;
  
}
.group{
  margin-bottom: 18px;
}
label{
  display: block;
  font-size: 14px;
  font-weight: 800;
  color: #374151;
 margin-bottom: 9px;
}
.input{
 display: flex;
 align-items: center;
 border: 1px solid black;
 border-radius: 12px;
 padding: 0 15px;
 transition: .25s
}
.input :focus-widthin{
 border-color: black;
 box-shadow: 0 0 0 4px rgba(37,99,235,.12);
}
.input i{
 font-size: 18px;
 color: #9ca3af;
}
.input input{
 border: none;
 outline: none;
 padding: 14px;
 font-size:15px;
 background: none;
}

button{
 margin-top: 10px;
 width: 100%;
 border-radius: 12px;
 border: none;
 background: #111827;
 color: #fff;
 font-size:15px;
 font-weight:600;
 cursor:pointer;
 transition:.3s;
 height:50px;
}

button :hover{
 background: #000;
 
}

.footer a{
 color#25563eb;
 text-decoration:none;
 font-weight: 600;
}
footer{
 text-align:center;
 margin-top:25px;
 color:#6b7280b;
 font-size:14px;
}